{{define "main"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Govel</title>
    <link
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    rel="stylesheet">
</head>

<body>
    {{ template "navbar" }}
    <div class="container">
        {{template "yield" . }}
    </div>
    <!-- jquery & Bootstrap JS -->
    <script src="//code.jquery.com/jquery-3.2.1.slim.min.js">
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    </script>
</body>
</html>
{{end}}